<h1>Featured Offers</h1>

<%= link_to "Create New Offering", new_offering_path %>

<aside>
  <%= form_tag(offerings_path, method: "get") do %>
    
    <%= label_tag(:category, "Category") %>
    <%= collection_select(params[:category], :category_id, Category.all, :id, :name) %>

    <%= label_tag(:price, "Price") %>
    <%= number_field_tag('price') %>

    <%= submit_tag("Filter") %>
  <% end %>
</aside>

<% @offerings.each do |offering| %>
  <div class="offering">
    <h2><%= offering.name %></h2>
    <%= offering.price %>
    <%= offering.duration %>
    <%= offering.img_url %>
    <%= offering.company_name %>
    <%= offering.location %>
  </div>
<% end %>