<!DOCTYPE html>
<html>
  <head>
    <title>GravyTrain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <nav class="main-nav">
        <ul>
          <li><%= link_to "Blog" %></li>
          <li><%= link_to "How it Works" %></li>
          <li><%= link_to "Register", new_buyer_registration_path, options = { method: :get } %></li>
          <li><%=link_to "Logout", destroy_buyer_session_path, options = { method: :delete } %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
